@tailwind base;
@tailwind components;
@tailwind utilities;
.text-style {
  font-family: "Permanent Marker", cursive;
}
@font-face {
  font-family: "LemonMilk";
  src: url("./assets/font/LEMONMILK-Regular.otf") format("opentype"),
    url("./assets/font/LEMONMILK-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "LemonMilk", sans-serif;
}
